/* Ensure Montserrat is applied globally */
/* body {
  font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
} */
a.bg-accent.text-primary:visited {
  color: #00558D !important;
}

a.border-2.border-white.text-white:visited {
  color: #ffffff !important;
}

a.border-2.border-white.text-white:hover {
  color: #00558D !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom logo size for header */
.tailwind-logo {
	@apply h-10 w-auto;
}
